.landing-section-1 {
  padding: 10px 10px 30px 10px;
  background-color: #0C4E0C;
  color: #ffffff;
}

.landing-section-2 {
  padding: 20px 10px 20px 10px;
  background-color: #267A26;
  color:  #000000;
}

.landing-section-3 {
  padding: 20px 10px 30px 30px;
  background-color: #0C4E0C;
  color: #ffffff;
}

.landing-section-5 {
  padding: 20px 10px 20px 10px;
  background-color: #0C4E0C;
  color: #ffffff;
}


.landing-section-1-welcome {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 72px;
}

.landing-section-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 36px;
}